{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <meta name="author" content="{{author}}">
   <!-- bootstrap csss -->
   <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

   <title>
       {% block title %} Welcome to PT. !Suka PPW {% endblock %}
   </title>

</head>
<body>

    <content>


	<p id="baton"></p>
	<div id="profileData" style="display: none;">
		<p id="name"></p>
	</div>
	<!-- sign in with linkedin button -->
	<script type="in/Login"></script>

	<section>
	    <h1 class="forum-list-title"> Forum Lowongan Kerja</h1>
	    <div class="container">
	            {% if forum_list %}
	                {% for forum in forum_list %}
	                <div class="card">
	                  <img src={{ logo_url }}>
	                    <h1> {{ nama_perusahaan }} </h1>
	                    <h4> {{ forum.lowongan }}</h4>
	                    <button style="float: right;" id="response" class="btn" onclick=showCommand()> Response
	                    </button>
	                    <p> {{ forum.created_date}}</p>
	                </div>
	                <div id="comment-container" style="display:none" class="container">
	                  <form id="comment" method="POST" action="{% url 'perusahaan-lowongan:add-comment' forum.id %}">
	                      <h2 id="comment-title">Tambah Comment</h2>
	                      {% csrf_token %}
	                      {{ forum_form }}
	                      <input id="submit" type="submit" class="btn btn-lg btn-block btn-info submit" value="Submit">
	                      <br>
	                  </form>
	                </div>
	                <div class="comment-container">
	                    {% if forum.comment_set.all %}
	                        {% for comment in forum.comment_set.all %}

	                            <h4> {{comment.comment}} </h4>
	                            <h6> {{comment.created_date}} </h6>

	                        {% endfor %}
	                    {% endif %}
	                      </div>


	                {% endfor %}
	            {% else %}
	            <div class="alert alert-danger text-center">
	                <strong>Maaf!</strong> Tidak ada forum
	            </div>
	            {% endif %}
	        </div>

	        <div class="pagination">
	                <span class="step-links">
	                    {% if forum_list.has_previous %}
	                        <a href="?page={{ forum_list.previous_page_number }}">previous</a>
	                    {% endif %}

	                    <span class="current">
	                        Page {{ forum_list.number }} of {{ forum_list.paginator.num_pages }}.
	                    </span>

	                    {% if forum_list.has_next %}
	                        <a href="?page={{ forum_list.next_page_number }}">next</a>
	                    {% endif %}
	                </span>
	            </div>
	</section>
	<button id="new_forum" class="btn btn-lg" onclick="show()"> Tambah Forum Lowongan </button>

	<div id="form" style="display:none" class="container">
	  <form id="insert_forum"  method="POST" action="{% url 'perusahaan-lowongan:add-forum' %}">
	      <h2 id="forum-title">Tambah Forum Lowongan Kerja</h2>
	      {% csrf_token %}
	      {{ forum_form }}
	      <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
	      <br>
	  </form>
	</div>


	<script>
	function show(){
	    var x = document.getElementById("form");
	    if(x.style.display === "none"){
	      x.style.display = "block";
	    }else{
	      x.style.display = "none";
	    }
	    $('#new_forum').hide();
	}

	// function add(){
	//   var x = document.getElementById("form");
	//   if(x.style.display === "none"){
	//     x.style.display = "block";
	//   }else{
	//     x.style.display = "none";
	//   }
	//   $('#new_forum').show();
	// }

	function showCommand(){
	  var x = document.getElementById("comment-container");
	  if(x.style.display === "none"){
	    x.style.display = "block";
	  }else{
	    x.style.display = "none";
	  }
	  $('#response').hide();
	}
	//
	// function addCommand(){
	//   var x = document.getElementById("comment-container");
	//   if(x.style.display === "none"){
	//     x.style.display = "block";
	//   }else{
	//     x.style.display = "none";
	//   }
	//   $('#response').show();
	// }
	</script>

</content>
    <footer>
       <!-- TODO Block Footer dan include footer.html -->
       {% block footer %}
       {% include "partials/footer.html" %}
       {% endblock %}
    </footer>
	<script type="text/javascript" src="//platform.linkedin.com/in.js">
		api_key:   81zelqgz00u6jy
		onLoad:    onLinkedInLoad
		authorize: true
	</script>

</body>
</html>
