  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container" id="header-bg">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="home-title" class="navbar-brand" href="{% url 'perusahaan_login:index' %}">Home</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- LINK MENUJU table, dan link menuju home#form -->
          <li><a id="nav-profile" href="#}"> Profile </a></li>
          <li><a id="nav-forum" href="{% url 'perusahaan-lowongan:index' %}"> Discussion </a> </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
