<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        Company Profile Page
    </title>
    <style>
    * {
      font-family: "Oxygen";
    }

    #footer {
      text-align: center;
    }

    #home-title {
      font-size: 22px;
      font-weight: bold;
      color: white;
    }

    #prof-img {
      width: 60%;
      height: 60%;
      padding-top: 20px;
    }

    #link-title {
      font-weight: lighter;
    }

    #nav-profile {
      color: white;
    }

    #nav-forum {
      color: white;
    }

    #forum-btn , #search-btn {
    display: inline-block;
    margin: 10px;
    border: 2px solid #000000;
    background-color: black;
    color: white;
  }

  #forum-btn:hover, #search-btn:hover {
    background-color: white;
    color: black;
  }

    .link-url {
      width: 40%;
      margin: 10px;
    }

    .navbar {
      background-color: #009688;
    }

    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    text-align: center;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    li {
      color: white;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

    button:hover {
        background: none;
        border: 2px solid #000000;
        color: black;
    }

    a:hover {
      opacity: 0.7;
    }

    </style>
</head>

<body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container" id="header-bg">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="home-title" class="navbar-brand" href="{% url 'perusahaan_login:index' %}">Home</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- LINK MENUJU table, dan link menuju home#form -->
              <li><a id="nav-profile" href="#"> Profile </a></li>
              <li><a id="nav-forum" href="{% url 'perusahaan-lowongan:index' %}"> Discussion </a> </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </header>
    <content>
        <div class="container">
          <h1>Company Profile</h1>
          <hr/>
          <section name="bio">
            <div class="card">
              <img id="prof-img" src="http://www.mineks.com/images/pages/22935city_scape5b.jpg" alt="John" style="width:60% height:60%">
              <h1>{{ name }}</h1>
              <p class="title" style="font-weight: bolder">Perusahaan non-profit di DKI Jakarta</p>
              <p class="title" style="font-size: 16px; margin-left: 30px; margin-right: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              <p class="title">Website perusahaan:</p>
              <a href="https://www.linkedin.com/company/pt-suka-ppw/" class="btn btn-primary btn-lg active link-url" role="button" aria-pressed="true">PT. Suka PPW</a>
              <p class="title">Laman terkait:</p>
              <a href="{% url 'perusahaan-lowongan:index' %}" class="btn btn-secondary btn-lg active link-url" id="forum-btn" role="button" aria-pressed="true">Lihat Forum</a>
              <a href="#" class="btn btn-secondary btn-lg active link-url" id="search-btn" role="button" aria-pressed="true">Cari Mahasiswa</a>
              <p><button>Contact</button></p>
              </div>
          </section>
          <hr/>
        </div>

    </content>
    <footer>
        <p id="footer">&copy; Nina Nursita Ramadhan | Hardcode TP 2 PPW 2017</p>
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
