{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="login">
    <meta name="author" content="R">
    <title>{{ name }}</title>
</head>

<body>
    <img src="{{ logoUrl }}" alt="">
    <p>{{ name }}</p>
    <p>{{ tipePerusahaan }}</p>
    <ul>
    {% for i in specialties %}
        <li>{{ i }}</li>
    {% endfor %}
    </ul>
    <p>{{ websiteUrl }}</p>
    <a href="{% url 'perusahaan-lowongan:index'%}"> direct to forum lowongan kerja </a>
</body>
</html>
