{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="login">
    <meta name="author" content="R">
    <title>PT. !suka PPW Log in</title>
<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.button2:hover {
    background-color: #008CBA;
    color: white;
}
/* animasi pada title */
.main-title{
  -webkit-animation: colorchange 1s infinite;
  -webkit-animation-direction: alternate;
  text-align: center;
}

/* animasi colorchange */
@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px #0fb8ad;
    letter-spacing: 0;
    }
  50% {
    -webkit-text-stroke: 7.5px  #1fc8db;
  }
    100% {
        -webkit-text-stroke: 10px  #2cb5e8;
    letter-spacing: 18px;
    }
}
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

</style>
</head>

<body>
	<h1 class="main-title">!Suka PPW</h1> <!-- ini css -->
	<section name="input-list" id="input-list">  
		<div class="container">
			<h2>Perusahaan !suka PPW membuka peluang untuk:</h2>
				<p>1. Web Develper</p>
				<p>2. Mobile Develper</p>
				
		</div>
	</section>	
	<section name="button-button" id="button-button">
		<div class="container"> <!-- ini css -->
			<a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=81zelqgz00u6jy&redirect_uri=http://localhost:8000/perusahaan_login/callback&state=987654321" class="button" class="button button2">Log in with LinkedIn</a>
		</div>
	</section>

    <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=81zelqgz00u6jy&redirect_uri=http://localhost:8000/perusahaan_login/callback&state=987654321">lelah:(</a>


    <section>
  	    <h1 class="forum-list-title"> Forum Lowongan Kerja</h1>
  	    <div class="container">
  	            {% if forum_list %}
  	                {% for forum in forum_list %}
  	                <div class="card">
  	                  <img src={{ logo_url }}>
  	                    <h1> {{ nama_perusahaan }} </h1>
  	                    <h4> {{ forum.lowongan }}</h4>
  	                    <button style="float: right;" id="response" class="btn" onclick=showCommand()> Response
  	                    </button>
  	                    <p> {{ forum.created_date}}</p>
  	                </div>
  	                <div id="comment-container" style="display:none" class="container">
  	                  <form id="comment" method="POST" action="{% url 'perusahaan-lowongan:add-comment' forum.id %}">
  	                      <h2 id="comment-title">Tambah Comment</h2>
  	                      {% csrf_token %}
  	                      {{ forum_form }}
  	                      <input id="submit" type="submit" class="btn btn-lg btn-block btn-info submit" value="Submit">
  	                      <br>
  	                  </form>
  	                </div>
  	                <div class="comment-container">
  	                    {% if forum.comment_set.all %}
  	                        {% for comment in forum.comment_set.all %}

  	                            <h4> {{comment.comment}} </h4>
  	                            <h6> {{comment.created_date}} </h6>

  	                        {% endfor %}
  	                    {% endif %}
  	                      </div>


  	                {% endfor %}
  	            {% else %}
  	            <div class="alert alert-danger text-center">
  	                <strong>Maaf!</strong> Tidak ada forum
  	            </div>
  	            {% endif %}
  	        </div>

  	        <div class="pagination">
  	                <span class="step-links">
  	                    {% if forum_list.has_previous %}
  	                        <a href="?page={{ forum_list.previous_page_number }}">previous</a>
  	                    {% endif %}

  	                    <span class="current">
  	                        Page {{ forum_list.number }} of {{ forum_list.paginator.num_pages }}.
  	                    </span>

  	                    {% if forum_list.has_next %}
  	                        <a href="?page={{ forum_list.next_page_number }}">next</a>
  	                    {% endif %}
  	                </span>
  	            </div>
  	</section>
  	<button id="new_forum" class="btn btn-lg" onclick="show()"> Tambah Forum Lowongan </button>

  	<div id="form" style="display:none" class="container">
  	  <form id="insert_forum"  method="POST" action="{% url 'perusahaan-lowongan:add-forum' %}">
  	      <h2 id="forum-title">Tambah Forum Lowongan Kerja</h2>
  	      {% csrf_token %}
  	      {{ forum_form }}
  	      <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
  	      <br>
  	  </form>
  	</div>


  	<script>
  	function show(){
  	    var x = document.getElementById("form");
  	    if(x.style.display === "none"){
  	      x.style.display = "block";
  	    }else{
  	      x.style.display = "none";
  	    }
  	    $('#new_forum').hide();
  	}

  	// function add(){
  	//   var x = document.getElementById("form");
  	//   if(x.style.display === "none"){
  	//     x.style.display = "block";
  	//   }else{
  	//     x.style.display = "none";
  	//   }
  	//   $('#new_forum').show();
  	// }

  	function showCommand(){
  	  var x = document.getElementById("comment-container");
  	  if(x.style.display === "none"){
  	    x.style.display = "block";
  	  }else{
  	    x.style.display = "none";
  	  }
  	  $('#response').hide();
  	}
  	//
  	// function addCommand(){
  	//   var x = document.getElementById("comment-container");
  	//   if(x.style.display === "none"){
  	//     x.style.display = "block";
  	//   }else{
  	//     x.style.display = "none";
  	//   }
  	//   $('#response').show();
  	// }
  	</script>

</body>
</html>
