body{
  font-family: "Oxygen";
}
.navbar {
  background-color: #009688;
}
#home-title {
  font-size: 22px;
  font-weight: bold;
  color: white;
}
#nav-profile {
  color: white;
}

#nav-forum {
  color: white;
}
#forum-btn , #search-btn {
display: inline-block;
margin: 10px;
border: 2px solid #000000;
background-color: black;
color: white;
}

#forum-btn:hover, #search-btn:hover {
background-color: white;
color: black;
}
.forum-list-title{
  text-align: center;
  width: 90%;
  background-color: black;
  color : white;
  padding : 1%;
}
button{
  background-color: black;
  color: white;
}
img{
  margin-right: 2%;
  float:left;
  height: 60px;
  radius: 90px;
}
#new_forum {
  margin-left: 13%;
  width: 74%;
}

.container{
  margin: auto;
  width: 75%;
}
.pagination{
  margin-left: 5%;
}

.forum-container{
  border-style: inset;
  border-radius: 20px;
  padding: 2%;
  background-color: #c4dafc;
}

.comment-container{
  margin:2%;
  margin-top: -100px;
  border-style: ridge;
  border-top: none;
  padding: 5%;
  padding-top: 15%;
  z-index: 1;
  word-wrap: break-word;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: auto;
padding: 2%;
width: 75%;
z-index: 0;
word-wrap: break-word;
}

.forum-list-title{
  margin:3%;
}

#form{
  margin: auto;
  width: 75%;
}
textarea{
  width: 100%;
}
#comment-title{
  text-align: center;
}
#forum-title{
  text-align: center;
}
#response{
  background-color: #3a67b2;
}
